<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1><%= @event.name %></h1>
        </div>
        <div class="col-md-4">
            <p><%= link_to "Editar evento", edit_event_path(@event), class: "btn btn-success pull-right" %></p>
        </div>
    </div>
    <hr/>
    <div class="show_recipe">
        <%= image_tag(@event.picture.url, size: "250x150", class: "gravatar") if @event.picture? %>
    </div>
    <div class="well">
        <h4>$<%= @event.price %></h4>
        <h4><%= simple_format(@event.description) %></h4>
        <h4><%= @event.address %></h4>
    </div>
</div>